@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.cards {
  display: grid;
  grid-template-columns: 1fr;
}
body {
  display: block;
  min-width: 375px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.container {
  margin: 0 auto;
  display: grid;
  gap: 60px;
}

.cards {
  display: grid;
  gap: 20px;
}

.card {
  height: 200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 25px rgba(52, 95, 145, 0.25);
}

.title {
  text-align: center;
}

.calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 2px solid hsl(0, 0%, 98%);
  border-left: 2px solid hsl(0, 0%, 98%);
  border-right: 2px solid hsl(0, 0%, 98%);
}
.supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 2px solid hsl(0, 0%, 98%);
  border-left: 2px solid hsl(0, 0%, 98%);
  border-right: 2px solid hsl(0, 0%, 98%);
}

.team {
  margin-left: auto;
  border-top: 4px solid hsl(0, 78%, 62%);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 2px solid hsl(0, 0%, 98%);
  border-left: 2px solid hsl(0, 0%, 98%);
  border-right: 2px solid hsl(0, 0%, 98%);
}

.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 2px solid hsl(0, 0%, 98%);
  border-left: 2px solid hsl(0, 0%, 98%);
  border-right: 2px solid hsl(0, 0%, 98%);
}

@media (min-width: 1000px) {
  body {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: block;
  }
  .cards {
    border: 2px solid orange;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;
    grid-column: 1/-1;
  }

  .title {
    grid-column: 2/3;
    text-align: center;
  }

  .title--text-content {
    width: 55ch;
    margin: 0 auto;
  }

  .supervisor,
  .team,
  .calculator {
    grid-row: 2;
  }

  .calculator {
    margin-right: auto;
  }
  .supervisor {
    margin-left: auto;
  }

  .team {
    grid-row: 2;
    margin-left: auto;
  }

  .karma {
    grid-column: 2/3;
    grid-row: 3;
  }
}
